/* ----------- ALLE ----------------*/
body {
	padding: 0;
	margin: 0;
	font-family: 'Montserrat', sans-serif;
}
/*Ueberschrift*/
#heading{
	font-size: 30px;
	text-align: center;
	position: fixed;
}
/*Hintergrundleiste oben an der Seite*/
#background {
	text-align: center;
	background-color: lightgrey;
	position: fixed;
	width: 100%;
	height: 7%;
	
}
/*Buttons*/
button {
	font-family: 'Montserrat', sans-serif;
    background-color: #4CAF50;
    color: white;
    padding: 14px 20px;
    margin: 8px 0;
    border: none;
    cursor: pointer;
    width: 70%;
}
.zentrieren {
	text-align: center;
	margin-left: auto;
	margin-right: auto;
	position: center;
	display: block;
}

/*----------------------------------*/

/* Login und Register */
input[type=name], input[type=password], input[type=email] {
    width: 70%;
    padding: 12px 20px;
    margin: 8px 0;
    display: inline-block;
    border: 1px solid #ccc;
    box-sizing: border-box;
}

