/* Register Box*/
#registerBox {
	text-align: center;
	margin-left: auto;
	margin-right: auto;
	padding: 2%;
	width: 28%;
	box-shadow: 0px 0px 8px #D8D8D8;
	box-shadow: 5px 5px 20px grey;
	border:0;
}
/* Submit Button*/
#registerGross {
	font-family: 'Montserrat', sans-serif;
    background-color: #f44336;
    color: black;
    padding: 14px 20px;
    margin: 8px 0;
    border: none;
    cursor: pointer;
    width: 70%;
}
/* Register Box grauer Rahmen*/
.form {
    border: 3px solid #f1f1f1;
}	
/* Einloggen Button */
#einloggen {
	width: auto;
    padding: 10px 18px;
    background-color: #4CAF50;
	font-family: 'Montserrat', sans-serif;
	border: none;
}